<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
	<div class="row">
		
		<div class="table table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Produto/Observação</th>
						<th>Unidade</th>
						<th>Quantidade</th>
						<th>Total</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr class="js-tabela-item" th:each="item : ${itens}" data:valor-total="${valorTotal}">
						<td>
							<span class="label  label-default sku">[[${{item.cerveja.sku}}]]</span>
						</td>
						<td>
							<span class="descricao">[[${{item.cerveja.nome}}]]</span>
							<div class="text-muted small observacao">[[${{item.observacoes}}]]</div>
						</td>	
						<td class="quantidade">
							[[${{item.quantidade}}]]							
						</td>
						<td class="valor">
							[[${{item.valorUnitario}}]]				
						</td>
						<td>
							R$ [[${{item.valorTotal}}]]
						</td>
						<td>
							<a href="#alterar" class="btn-alterar" th:attr="data-codigo=${item.cerveja.codigo},data-uuid=${item.uuid}"><i class="fa fa-pencil fa-fw"></i></a>
							<a href="#excluir" class="btn-excluir" th:attr="data-codigo=${item.cerveja.codigo},data-uuid=${item.uuid}"><i class="fa fa-trash fa-fw text-danger"></i></a>
						</td>
					</tr>
					<tr>
						<td th:if="${itens.empty}">
							<i class="glyphicon  glyphicon-shopping-cart"></i> 
							<span>Você ainda não adicionou nenhuma cerveja.</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</html>