<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de bancos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de bancos</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize-url="/bancos/novo">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/bancos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo banco</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${bancoFilter}">
			<div class="row">
					<div class="form-group  col-sm-8">
						<input type="text" class="form-control" id="nome" th:field="*{descricao}"/>
					</div>	
				</div>		
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-cidades-col-nome">
							<brewer:order page="${pagina}" field="descricao" text="Descricao"/>
						</th>
						<th class="table-col-acoes">Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="banco : ${pagina.conteudo}">
						<td th:text="${banco.descricao}"></td>
						<td class="text-center">
							<a th:href="@{/bancos/{codigo}(codigo=${banco.codigo})}" class="btn  btn-link  btn-xs" title="Editar"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="3">Nenhum banco encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<brewer:pagination page="${pagina}"/>  
		
	</div>
</section>
</body>
</html>